@import "custom";
@import "~bootstrap/scss/bootstrap";

body {

    max-width: 500px !important;
    margin-top: 30px !important;
    margin: auto;

}

.rectangle {
    padding-top: 10px;
    padding-bottom: 40px;
    width:80%;
    height: 100%;
    background-color: rgba(124,124,124,0.1);
    border:transparent;
    border-radius: 15px;
    position: center;
    margin: auto;

}

.doonHome {

    font-family: 'Red Hat Display', sans-serif;

}

.welcomeHeader {

    font-family: 'Open Sans', sans-serif;

}

.welcomeRectangle {

    padding: 8px;
    width:90%;
    height: 100%;
    background-color: rgba(124,124,124,0.2);
    border:transparent;
    border-radius: 15px;
    position: center;
    margin: auto;

}

.dateAndTime {

    margin-top: 30px;
    margin-bottom:30px;
    text-align: center;

}

.twoButtonsContainer {


    display: flex;
    margin: auto;
    margin-bottom: 30px;

}

.historyButton {

    text-align: center;

    display: inline-block;
    padding: 8px;
    width:30%;
    height: 30%;
    background-color:#fbdf73;
    border:transparent;
    border-radius: 15px;
    position: center;
    margin: auto;

}

.paymentButton {

    text-align: center;

    display: inline-block;
    padding: 8px;
    width:30%;
    height: 30%;
    background-color:#fbdf73;
    border:transparent;
    border-radius: 15px;
    position: center;
    margin: auto;

}

img#historyButton {

    display: block;
    margin: auto;
    max-width: 35%;

}

img#paymentButton {

    display: block;
    margin: auto;
    max-width: 35%;

}

.mapouter {
    margin-top: 10px !important;
    margin:auto;
    position:center;
    text-align:center;
    height:250px;
    width:250px;
    position:center;

}

.gmap_canvas {
    margin-top: 10px !important;
    margin:auto;
    overflow:hidden;
    background:none!important;
    height:250px;
    width:250px;
    position:center;
    border-radius: 10px;

}

.bookButton {

    text-align: center;

    padding: 8px;
    width:80%;
    height: 30%;
    background-color:#fbdf73;
    border:transparent;
    border-radius: 15px;
    position: center;
    margin-top: 40px !important;
    margin: auto;

}